<!DOCTYPE html>
<html>
  <head>
    <title>edit section</title>
  </head>
 <body>
<form action="/save" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" {% if .Username %} value="{{.Username}}" {% else %} placeholder="Enter your username" {% endif %}>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" placeholder="Enter your email" value="{{.Email}}">

  <label for="phone">Phone Number:</label>
  <input type="tel" id="phone" name="phone"{% if .Phone %} value="{{.Phone}}" {% else %} placeholder="Enter your phone number" {% endif %}>
   <button type="submit">Save and Continue</button>
  <button type="button" onclick="location.href='/cancel'">Cancel</button>
</form>
</body>
</html>
