<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
  </head>
  <body>
    <h1>User Profile</h1>
    <p>username:  {{if .Username}} {{.Username}} {{end}}</p>
    <p>email:  {{if .Email}} {{.Email}} {{end}}</p>
    <p>phone:  {{if .Phone}} {{.Phone}} {{end}}</p>
   <form action="/edit">
      <input type="submit" value="Edit">
    </form>
    <form action="/logout">
      <input type="submit" value="Logout">
    </form>
  </body>
  </html>